dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
/hsenv.log
/test/tmp-tst-var1.nc
/test/tmp-tst-raw-get-put.nc
/.cabal-sandbox/*
/cabal.sandbox.config
/examples/example1
/examples/example2
/examples/example3
